<div class="article-date" > | 评论数: <span id = "sourceId::<%- parseInt(date_xml(post.date).replace(/[^0-9]/g,""))  %>" class = "cy_cmt_count" ></span></p> </div>
<!-- UYAN COUNT BEGIN -->
<a href="<%- url_for(post.link) %>" id="uyan_count_unit" du="" su="">0条评论</a>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2033782"></script> <!-- 如果已经过加载此行JS，即可不用重复加载 -->
<!-- UYAN COUNT END -->

