<div class="article-category" > 评论数: <span id = "sourceId::<%- parseInt(date_xml(post.date).replace(/[^0-9]/g,""))  %>" class = "cy_cmt_count" ></span></p> </div>
<script id="cy_cmt_num" src="http://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cys0iXAGa"></script>
